<%= form_for :session, url: session_path do |form| %>
  <div class="field">
    <%= form.label :email, 'Email *' %>
    <%= form.text_field :email, type: 'email' %>
  </div>

  <div class="field">
    <%= form.label :password, 'Password *' %>
    <%= form.password_field :password %>
  </div>

  <div class="field submit">
    <%= form.submit 'Log In' %>
  </div>
<% end %>
