<%= form_for [@project, @task] do |f| %>
	<%= render 'shared/errors', object: @task %>

	<div class="field model-name">
		<%= f.label :name, 'Name *' %>
		<%= f.text_field :name %>
	</div>
	<div class="field">
		<%= f.label :description %>
		<%= f.text_area :description, rows: 8 %>
	</div>
	<div class="field-wrap">
		<div class="field estimate">
			<%= f.label :estimate %>
			<%= f.text_field :estimate %>
		</div>
		<div class="field due-date">
			<%= f.label :due_date, 'Due Date *' %>
			<%= f.date_select :due_date,
			                  default: Time.zone.now.tomorrow,
			                  order: [:month, :day] %>
		</div>
	</div>
	<div class="field submit">
		<%= f.submit %>
	</div>
<% end %>