<%= form_for [@project, @task] do |f| %>
	<%= render 'partials/errors', object: @task %>

	<div class="field task-name">
		<%= f.label :name, 'Name *' %>
		<%= f.text_field :name %>
	</div>
	<div class="field">
		<%= f.label :description %>
		<%= f.text_area :description, rows: 8 %>
	</div>
	<div class="field-wrap">
		<div class="field estimate">
			<%= f.label :estimate %>
			<%= f.text_field :estimate %>
		</div>
		<div class="field due-date">
			<%= f.label :due_date, 'Due Date *' %>
			<%= f.date_select :due_date,
			                  default: Time.zone.now.tomorrow,
			                  order: [:month, :day] %>
		</div>
		<div class="field priority">
			<%= f.label :priority, 'Priority *' %>
			<%= f.select :priority, options_for_select(
				                        [['Low','low'],
				                        ['Normal','normal'],
				                        ['High','high']],
				                        'normal') %>
		</div>
	</div>
	<div class="field submit">
		<%= f.submit %>
	</div>
<% end %>