<%= form_for [@project, @task] do |f| %>
	<%= render 'partials/errors', object: @task %>

	<div class="field">
		<%= f.label :name, 'Name *' %>
		<%= f.text_field :name, class: 'name-field' %>
	</div>
	<div class="field">
		<%= f.label :description %>
		<%= f.text_area :description %>
	</div>
	<div class="field">
		<%= f.label :estimate %>
		<%= f.text_field :estimate %>
	</div>
	<div class="field">
		<%= f.label :due_date, 'Due Date *' %>
		<%= f.date_select :due_date,
		                  default: Time.zone.now.tomorrow,
		                  order: [:month, :day] %>
	</div>
	<div class="field">
		<%= f.label :priority, 'Priority *' %>
		<%= f.select :priority, options_for_select(
			                        [['Low','low'],
			                        ['Normal','normal'],
			                        ['High','high']],
			                        'normal') %>
	</div>
	<div class="field submit">
		<%= f.submit %>
	</div>
<% end %>