<article>
	<h1><%= link_to @project.name, @project %> - Completed Tasks</h1>

	<ul>
		<% @tasks.each do |task| %>
			<li>
				<h1><%= link_to task.name, [@project, task] %></h1>
				<div><%= raw task.description %></div>
				<p>Estimate: <strong><%= task.estimate %></strong></p>
				<p>Due: <strong><%= task.due_date.strftime('%B %-d') %></strong></p>
				<p>Priority: <strong><%= task.priority.titleize %></strong></p>

				<%= link_to 'Edit', edit_project_task_path(@project, task) %>
				<%= link_to 'Remove', [@project, task], method: :delete, confirm: 'Are you sure you want to delete this task?' %>
			</li>
		<% end %>
	</ul>
</article>