<section>
	<h1 class="page-title">All Tasks</h1>
	<%= raw "You don't have any projects &ndash; why not #{link_to 'add one', new_project_path}?" if @projects.empty? %>

	<% @projects.each do |project| %>
		<article class="project">
			<div class="name">
				<h1><%= link_to project.name, project %></h1>
			</div>

			<div class="info-bar clearfix">
				<p class="count"><%= pluralize(project.tasks.incomplete.count, 'incomplete task', 'incomplete tasks') %></p>
				<%= link_to 'Add Task', new_project_task_path(project), class: 'button' %>
			</div>

			<ul class="task-list">
				<% project.tasks.incomplete.each do |task| %>
					<li>
						<h2><%= link_to task.name, [project, task] %></h2>
						<div class="meta clearfix">
							<p>Estimate: <%= task.estimate %></p>
							<p>Due: <%= task.due_date.strftime('%B %-d') %></p>
							<p>Priority: <%= task.priority.titleize %></p>
							<%= link_to 'Complete', complete_task_path(project, task), method: :put, class: 'task-action complete' %>
						</div>
					</li>
				<% end %>
			</ul><!-- /.task-list -->
		</article><!-- /.project -->
	<% end %>
</section>