<section>
	<h1>All Tasks</h1>
	<%= raw "You don't have any tasks &ndash; why not #{link_to 'add one', new_task_path}?" if @tasks.empty? %>

	<% @tasks.each do |task| %>
		<article>
			<h1><%= link_to task.name, task %></h1>
			<p>Estimate: <strong><%= task.estimate %></strong></p>
			<p>Due: <strong><%= time_ago_in_words task.due_date %></strong></p>
			<p>Priority: <strong><%= task.priority %></strong></p>
		</article>
	<% end %>
</section>
