<section>
	<h1 class="page-title">All Tasks</h1>
	<% if @projects.empty? %>
		<%= content_tag(:p, "You currently don't have any tasks", class: 'page-message') %>
	<% end %>

	<% @projects.each do |project| %>
		<article class="project">
			<div class="name">
				<h1><%= link_to project.name, project %></h1>
				<span class="highlight"></span>
			</div>

			<div class="info-bar clearfix">
				<p class="count"><%= pluralize(project.incomplete_tasks, 'incomplete task', 'incomplete tasks') %></p>
				<%= link_to 'Add Task', new_project_task_path(project), class: 'button' %>
			</div>

			<ul class="task-list">
				<%= render partial: project.tasks, locals: { project: project } %>
			</ul><!-- /.task-list -->
		</article><!-- /.project -->
	<% end %>
</section>