<section>
	<h1><%= link_to @project.name, @project %></h1>

	<article>
		<h1><%= @task.name %></h1>
		<div><%= raw @task.description %></div>
		<p>Estimate: <strong><%= @task.estimate %></strong></p>
		<p>Due: <strong><%= @task.due_date.strftime('%B %-d') %></strong></p>
		<p>Priority: <strong><%= @task.priority.titleize %></strong></p>

		<% if @task.status == 'incomplete' %>
			<%= link_to 'Complete', complete_task_path(@project, @task), method: :put %>
		<% end %>
		<%= link_to 'Edit', edit_project_task_path(@project, @task) %>
		<%= link_to 'Remove', [@project, @task], method: :delete, confirm: 'Are you sure you want to delete this task?' %>
	</article>
</section>