<article class="project">
	<div class="project-name">
		<h1><%= link_to @project.name, @project %></h1>
	</div>

	<div class="info-bar clearfix">
		<p class="task-count"><%= pluralize(@project.incomplete_tasks, 'incomplete task', 'incomplete tasks') %></p>
		<%= link_to 'Add Task', new_project_task_path(@project), class: 'button' %>
	</div>

	<ul class="task-list">
		<li>
			<h2><%= @task.name %></h2>
			<% unless @task.description.blank? %>
				<div class="desc"><%= simple_format @task.description %></div>
			<% end %>

			<div class="meta clearfix">
				<p>Estimated <%= @task.estimate %></p>
				<p>Due on <%= @task.due_date.strftime('%B %-d') %></p>

				<% if @task.status == 'incomplete' %>
					<%= link_to 'Complete', mark_task_complete_path(@project, @task), method: :put, class: 'task-action complete' %>
				<% end %>
			</div>
		</li>
	</ul><!-- /.task-list -->
</article><!-- /.project -->

<%= link_to 'Edit Task', edit_project_task_path(@project, @task) %>