<ul>
	<li>
		<span>Tasks</span>
		<ul>
			<li><%= link_to 'All', all_tasks_path %></li>
			<li><%= link_to 'This Week', root_path %></li>
			<li><%= link_to 'Next Week', root_path %></li>
			<li><%= link_to 'This Month', root_path %></li>
		</ul>
	</li>
	<li>
		<span>Projects</span>
		<ul>
			<li><%= link_to 'All', projects_path %></li>
			<li><%= link_to 'Add New', new_project_path %></li>
		</ul>
	</li>
</ul>