<ul>
	<li>
		<span>Tasks</span>
		<ul>
			<li><%= link_to 'All', all_tasks_path %></li>
			<li><%= link_to 'Today', tasks_today_path %></li>
			<li><%= link_to 'This Week', tasks_this_week_path %></li>
			<li><%= link_to 'This Month', tasks_this_month_path %></li>
			<li><%= link_to 'Overdue', tasks_overdue_path %></li>
		</ul>
	</li>
	<li>
		<span>Projects</span>
		<ul>
			<li><%= link_to 'All', projects_path %></li>
			<li><%= link_to 'Add New', new_project_path %></li>
		</ul>
	</li>
</ul>