<article class="project">
	<div class="project-name">
		<h1><%= @user.username %></h1>
	</div>

	<div class="info-bar clearfix">
		<p class="message">Member since <%= @user.created_at.strftime('%B %-d, %Y') %></p>
	</div>

	<div class="desc">
		<img src="<%= avatar_url(@user) %>" alt="Avatar for <%= @user.email %>" />
		<p><%= @user.email %></p>
	</div>
</article><!-- /.project -->