<ul class="nav-collection clearfix">
	<% if current_user %>
		<li class="nav-item">
			<span class="nav-title">Tasks</span>
			<ul class="sub-nav-collection clearfix">
				<li class="sub-nav-item"><%= link_to 'All', all_tasks_path %></li>
				<li class="sub-nav-item"><%= link_to 'Today', tasks_today_path %></li>
				<li class="sub-nav-item"><%= link_to 'Upcoming', tasks_upcoming_path %></li>
				<li class="sub-nav-item"><%= link_to 'Overdue', tasks_overdue_path %></li>
			</ul>
		</li>
		<li class="nav-item">
			<span class="nav-title">Projects</span>
			<ul class="sub-nav-collection clearfix">
				<li class="sub-nav-item"><%= link_to 'All', projects_path %></li>
				<li class="sub-nav-item"><%= link_to 'Add New', new_project_path %></li>
			</ul>
		</li>
		<li class="nav-item">
			<span class="nav-title">Account</span>
			<ul class="sub-nav-collection clearfix">
				<li class="sub-nav-item"><%= link_to 'Profile', user_path(current_user) %></li>
				<li class="sub-nav-item"><%= link_to 'Log Out', log_out_path %></li>
			</ul>
		</li>
		<li class="nav-item">
			<span class="nav-title">Search</span>
			<%= form_tag projects_path, method: 'get', class: 'search-form', role: 'search' do %>
				<%= label_tag :search, nil, class: 'visuallyhidden' %>
				<%= search_field_tag :search, params[:search] %>
				<%= submit_tag "Search", name: nil, class: 'visuallyhidden' %>
			<% end %>
		</li>
	<% else %>
		<li class="nav-item">
			<span class="nav-title">Account</span>
			<ul class="sub-nav-collection clearfix">
				<li class="sub-nav-item"><%= link_to 'Log In', log_in_path %></a></li>
				<li class="sub-nav-item"><%= link_to 'Sign Up', sign_up_path %></li>
			</ul>
		</li>
	<% end %>
</ul><!-- /.nav-collection -->
