<%= form_for @project do |f| %>
	<%= render 'shared/errors', object: @project %>

	<div class="field project-name">
		<%= f.label :name, 'Name *' %>
		<%= f.text_field :name %>
	</div>
	<div class="field">
		<%= f.label :description %>
		<%= f.text_area :description, rows: 8 %>
	</div>
	<div class="field submit">
		<%= f.submit %>
	</div>
<% end %>