<section>
	<h1 class="page-title">All Projects</h1>
	<% if @projects.empty? %>
		<%= content_tag(:p, "You don't have any projects &ndash; why not #{link_to 'add one', new_project_path}?".html_safe, class: 'page-message') %>
	<% end %>

	<% @projects.each do |project| %>
		<article class="project">
			<div class="project-name">
				<h1><%= link_to project.name, project %></h1>
			</div>

			<div class="info-bar clearfix">
				<p class="task-count"><%= pluralize(project.incomplete_tasks, 'incomplete task', 'incomplete tasks') %></p>
				<%= link_to 'Add Task', new_project_task_path(project), class: 'button' %>
			</div>

			<div class="desc"><%= simple_format project.description %></div>
		</article><!-- /.project -->
	<% end %>
</section>
