<article>
	<h1><%= @project.name %></h1>
	<p><%= raw @project.description %></p>

	<ul>
		<% @tasks.each do |task| %>
			<li>
				<h2><%= link_to task.name, [@project, task] %></h2>
				<p>Estimate: <strong><%= task.estimate %></strong></p>
				<p>Due: <strong><%= distance_of_time_in_words_to_now task.due_date %></strong></p>
				<p>Priority: <strong><%= task.priority.titleize %></strong></p>
			</li>
		<% end %>
	</ul>

	<%= link_to 'Add Task', new_project_task_path(@project) %>
	<%= link_to 'Edit Project', edit_project_path(@project) %>
	<%= link_to 'Remove Project', @project, method: :delete, confirm: 'Are you sure you want to delete this project and all its tasks?' %>
</article>