<article class="project">
	<div class="name">
		<h1><%= @project.name %></h1>
	</div>

	<div class="info-bar clearfix">
		<p class="count"><%= pluralize(@incomplete.count, 'incomplete task', 'incomplete tasks') %></p>
		<%= link_to 'Add Task', new_project_task_path(@project), class: 'button' %>
	</div>

	<ul class="task-list">
		<% @incomplete.each do |task| %>
			<li>
				<h2><%= link_to task.name, [@project, task] %></h2>
				<div class="meta clearfix">
					<p>Estimate: <%= task.estimate %></p>
					<p>Due: <%= task.due_date.strftime('%B %-d') %></p>
					<p>Priority: <%= task.priority.titleize %></p>

					<% if task.status == 'incomplete' %>
						<%= link_to 'Complete', complete_task_path(@project, task), method: :put, class: 'complete' %>
					<% end %>
				</div>
			</li>
		<% end %>
	</ul><!-- /.task-list -->
</article><!-- /.project -->

<% if @complete.any? %>
	<%= link_to 'Completed Tasks', completed_tasks_path(@project) %>
<% end %>
<%= link_to 'Edit Project', edit_project_path(@project) %>
<%= link_to 'Remove Project', @project, method: :delete, confirm: 'Are you sure you want to delete this project and all its tasks?' %>