<article class="project">
	<div class="project-name">
		<h1><%= @project.name %></h1>
	</div>

	<div class="info-bar clearfix">
		<p class="task-count"><%= pluralize(@project.incomplete_tasks, 'incomplete task', 'incomplete tasks') %></p>
		<%= link_to 'Add Task', new_project_task_path(@project), class: 'button' %>
	</div>

	<ul class="task-list">
		<%= render partial: @tasks, locals: { project: @project } %>
	</ul><!-- /.task-list -->
</article><!-- /.project -->

<%= link_to 'Completed Tasks', completed_tasks_path(@project) if @project.complete_tasks > 0 %>
<%= link_to 'Edit Project', edit_project_path(@project) %>