<div class="project">
  <div class="project-name">
    <h1><%= t(".title") %></h1>
  </div>

  <div class="info-bar clearfix">
    <p class="message">Fields with an asterisk are required</p>
  </div>

  <%= form_for :password, url: passwords_path do |form| %>
    <div class="field">
      <%= form.label :email, 'Email *' %>
      <%= form.text_field :email, type: 'email' %>
    </div>

    <div class="field submit">
      <%= form.submit %>
    </div>
  <% end %>
</div><!-- /.project -->
