<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<title>Due It</title>
	<meta name="description" content="Simple project management for individuals or small teams." />
	<meta name="author" content="Matt Halliday, matthalliday.ca" />

	<%= stylesheet_link_tag "application" %>
	<script src="https://use.typekit.net/wld4wpn.js"></script>
	<script>try{Typekit.load({ async: true });}catch(e){}</script>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>
</head>
<body>
	<a href="#content" class="visuallyhidden focusable skipper">Skip to content</a>

	<header class="app-banner" role="banner">
		<div class="inner clearfix">
			<h1 class="branding"><%= link_to 'Due It', root_path %></h1>

			<nav class="app-navigation" role="navigation">
				<%= render 'shared/navigation' %>
			</nav>
		</div>
	</header><!-- /.app-banner -->

	<main id="content" class="app-content" role="main" tabindex="-1">
		<% flash.each do |key, value| %>
			<%= content_tag(:div, content_tag(:p, value), class: "flash #{key}") %>
		<% end %>

		<%= yield %>
	</main><!-- /.app-content -->

	<footer class="app-footer" role="contentinfo">
		<p>Built with <a href="http://rubyonrails.org" title="Version <%= Rails.version %>">Ruby on Rails</a></p>
	</footer><!-- /.app-footer -->
</body>
</html>
